body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container {
    display: flex;
    align-items: center;
}

.header img.logo {
    margin-right: 15px;
}

.header h1 {
    margin: 0;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons a img {
    margin-left: 20px;
    cursor: pointer;
}
        #right {
        width : 500px
        }

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.nav a {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
}

.nav a:hover {
    background: #575757;
}

/* Content Styles */
.content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.content h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    color: #4CAF50;
}

/* Form Styles */
.form-container {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9; /* 추가된 배경색 */
}

form textarea {
    resize: vertical;
    height: 150px; /* 텍스트 영역의 높이 조정 */
}

form button,
form .cancel-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

form button:hover,
form .cancel-button:hover {
    background-color: #45a049;
}

form .cancel-button {
    background-color: #f44336;
    margin-left: 10px;
}

form .cancel-button:hover {
    background-color: #e53935;
}